<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
</head>
<body>
<h1>This is the Introduction Page</h1>
<form action="/analyze", method="get">
    <textarea name='text'style="margin: 0px; height: 266px; width: 1476px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuations<br>
    <input type="checkbox" name="capitalize">Capitalize<br>
    <input type="checkbox" name="newlineremover">New line Remover<br>
    <input type="checkbox" name="extraspace">Extra Space<br>
    <input type="checkbox" name="charcount">Count<br>
    <button text="submit"> Analyse Data</button>
</form>
</body>
</html>